{% extends "base_page.html" %}

{% block content %}
    <table class="table-fixed w-full text-s text-left outline outline-1 shadow-xl rounded-t-md" style="outline-color: rgba(255, 255, 255, 0.8);">
        <thead class="rounded-md">
            <tr style="background-color: rgba(255, 255, 255, 0.8); ">
                <th class="p-2 truncate text-center rounded-tl-md"></th>
                <th class="p-2 truncate text-center">Flower</th>
                <th class="p-2 truncate text-center">Feather</th>
                <th class="p-2 truncate text-center">Sands</th>
                <th class="p-2 truncate text-center">Goblet</th>
                <th class="p-2 truncate text-center rounded-tr-md">Circlet</th>
            </tr>
        </thead>
        <tbody class="bg-white" style="background-color: rgba(255, 255, 255, 0.3);">
            {% for character in characters %}
            {% include "base_row.html" %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}