{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Court of Fontaine</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre"> <!-- Too few contrast between light and bold -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Pro"> <!-- Too bold -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Grenze+Gotisch"> <!-- Nice but too complex capital letters -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Texturina"> <!-- Very nice but not centered vertically -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Labrada"> <!-- Not centered too -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var buttons = document.querySelectorAll('.popover-button');
            // Function to hide all popovers
            function hideAllPopovers() {
                document.querySelectorAll('.popover').forEach(function (popover) {
                    popover.style.display = 'none';
                });
            }
            // Button click handler that toggles the associated popover
            buttons.forEach(function (button) {
                button.addEventListener('click', function (event) {
                    // Prevent the click from being registered on the document
                    event.stopPropagation();
                    var targetId = this.getAttribute('data-popover-target');
                    var popover = document.getElementById(targetId);
                    // Check if the popover is already visible
                    if (popover.style.display === 'block') {
                        popover.style.display = 'none';
                        return;
                    }
                    // If it is not the case, hide all popovers
                    hideAllPopovers();
                    // Then toggle the clicked popover
                    popover.style.display = popover.style.display === 'block' ? 'none' : 'block';
                });
            });
            // Document click handler to hide all popovers if clicking outside of them
            document.addEventListener('click', function () {
                hideAllPopovers();
            });

            const searchbar = document.getElementById("uid");
            const searchHistoryDisplay = document.getElementById("searchHistoryDisplay");
            searchbar.addEventListener("focus", function () {
                searchHistoryDisplay.style.display = "block";
            });
            searchbar.addEventListener("blur", function () {
                if (searchHistoryDisplay.querySelector(":hover") == null) {
                    searchHistoryDisplay.style.display = 'none';
                } else {
                    // // set value of searchbar
                    // const searchwords = searchHistoryDisplay.getElementsByTagName("p");
                    // // get the one that is hovered
                    // var searchword = "";
                    // for (var i = 0; i < searchwords.length; i++) {
                    //     if (searchwords[i].querySelector(":hover") != null) {
                    //         searchword = searchwords[i].innerHTML;
                    //         break;
                    //     }
                    // }
                    // searchbar.value = searchword;
                }
            });
            // Write the search history to the page
            function writeSeachHistory() {
                //alert("Writing search history to page");
                const searchHistory = getSearchHistory();
                document.getElementsByName('searchHistory')[0].innerHTML = searchHistory;
            }

            // get a string of the concatenated values of search history
            function getSearchHistory() {
                const searchHistory = JSON.parse(localStorage.getItem('searchHistory')) || [];
                return searchHistory.join(',');
            }

    
        });
        function search() {

        // Save search query to local storage
        function saveSearchQuery(query) {
            //alert("Saving search query: " + query);
            const searchHistory = JSON.parse(localStorage.getItem('searchHistory')) || [];
            searchHistory.unshift(query); // Add the new query to the beginning of the array
            localStorage.setItem('searchHistory', JSON.stringify(searchHistory));
        }

        saveSearchQuery(document.getElementById("uid").value);
        var uid = document.getElementById("uid").value;
        window.location.href = "/uid/" + uid;
        }

        function hideseach() {
            const searchHistoryDisplay = document.getElementById("searchHistoryDisplay");
            searchHistoryDisplay.style.display = 'none';
        }
        
    </script>
    <style>
        body {
            font-family: "Montserrat", serif;
        }

        .popover {
            display: none;
            background-color: rgba(255, 255, 255, 1.0);
            z-index: 1;
        }
    </style>
</head>

<body onload="writeSeachHistory()" style="background-image: url({% static 'background.jpg' %}); background-size:cover; background-position:center; background-attachment: fixed;">
    <main>
        <div class="flex justify-center" style="background-color: rgba(255, 255, 255, 0.0);  height: 100vh;">
            <div class="p-0 w-full md:p-20 lg:w-3/4">
                <div class="bg-white p-10 md:rounded-md outline outline-1 shadow-xl"
                    style="backdrop-filter: blur(20px); -webkit-backdrop-filter: blur(20px); background-color: rgba(255, 255, 255, 0.1); outline-color: rgba(255, 255, 255, 0.5);">
                    <div class="grid grid-cols-1 lg:grid-cols-2">
                        <div class="text-white">
                            <h1 class="text-6xl" style="font-family: 'Grenze Gotisch';"><a href="/">Court of<br>Fontaine</a></h1>
                            <p class="text-s">Let yourself be judged!</p>
                        </div>
                        <div class="flex items-end mt-10 relative">
                            <!--<div><p name="searchHistory"></p></div>-->
                            <input
                                class="shadow-xl rounded-l-md focus:rounded-none focus:rounded-tl-md w-3/4 p-2 text-gray-700 text-s outline outline-1"
                                id="uid" type="text" style="outline-color: rgba(255, 255, 255, 0.8);"
                                placeholder="Enter UID...">
                            <button class="bg-green-500 rounded-r-md p-2 text-s w-1/4 shadow-xl outline outline-1" type="submit" onClick="search()"
                                style="background-color: rgba(255, 255, 255, 0.5); outline-color: rgba(255, 255, 255, 0.8);">Search</button>
                            <div class="absolute bg-white top-full w-3/4 z-10 shadow-xl" style="display: none;" id="searchHistoryDisplay">
                                <table class="table-fixed w-full outline outline-1" style="outline-color: rgba(255, 255, 255, 0.8);">
                                    <tr class="hover:bg-gray-200"><td><a onclick="hideseach();" href="/uid/703047530"><p class="p-2" style="display:block flex justify-end">703047530</p></a></td></tr>
                                    <tr class="hover:bg-gray-200"><td><a onclick="hideseach();" href="/uid/705357577"><p class="p-2" style="display:block flex justify-end">705357577</p></a></td></tr>
                                    <tr class="hover:bg-gray-200"><td><a onclick="hideseach();" href="/uid/606062036"><p class="p-2" style="display:block flex justify-end">606062036</p></a></td></tr>
                                    <tr class="hover:bg-gray-200"><td><a onclick="hideseach();" href="/uid/700392142"><p class="p-2" style="display:block flex justify-end">700392142</p></a></td></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr class="my-5 opacity-50">
                    <div>
                        {% block content %}
                        <div class="text-white">
                            Nothing to see here...
                        </div>
                        {% endblock %}
                    </div>
                </div>
                <!--
                <div class="text-right text-white mt-2">Art by <a class="underline underline-offset-4" href=https://www.pixiv.net/en/users/21454383>Minty0</a></div>
                -->
                <div class="text-center text-white my-5 pb-5">
                    Website by <a class="underline underline-offset-4" href="https://github.com/SoleilVermeil/">SoleilVermeil</a>. No affiliation with HoYoverse.
                </div>
            </div>
        </div>
    </main>
    <script>
    </script>
</body>

</html>