<table class="table-fixed w-full text-s text-left rounded-md">
    <thead>
        <tr style="background-color: rgba(255, 255, 255, 0.8);">
            <th class="p-2"></th>
            <th class="p-2">Flower</th>
            <th class="p-2">Feather</th>
            <th class="p-2">Sands</th>
            <th class="p-2">Goblet</th>
            <th class="p-2">Circlet</th>
        </tr>
    </thead>
    <tbody class="bg-white" style="background-color: rgba(255, 255, 255, 0.5);">
        {% ROW %}
    </tbody>
</table>