{% extends "base_page.html" %}
{% load static %}

{% block content %}
<div class="flex space-x-10">
    {% if image or image_url %}
    <div class="w-{{ imagewidth }} relative">
        {% if image %}
            <img class="rounded-md w-full" src={% get_static_prefix %}{{ image }} />
        {% elif image_url %}
            <img class="rounded-md w-full" src="{{ image_url }}" />
        {% endif %}
        {%  if nsfw %}
            <div id="overlay" class="rounded-md absolute top-0 left-0 w-full h-full bg-black bg-opacity-20 text-white flex justify-center items-center text-center text-lg font-bold" style="backdrop-filter: blur(50px)">
                SENSITIVE CONTENT<br>CLICK TO REVEAL
            </div>
        {% endif %}
    </div>
    {% endif %}
    {% if title or body %}
    <div class="text-white flex-auto">
        <div class="font-bold text-3xl">{{ title }}</div>
        <div>{{ body }}</div>
    </div>
</div>
{% endif %}
{% block subcontent %}
{% endblock %}
<script>
    document.getElementById('overlay').addEventListener('click', function() {
        this.style.display = 'none'; // Hide the overlay on click
    });
</script>

{% endblock %}