{% load app_tags %}

<td class="p-2 text-center" style="vertical-align: top;">
    <div class="relative my-1" name="badgeDiv"> <!-- BAD DESIGN, remove my-1 and put something better -->
        <button class="BADGE bg-{{ artifact.rating.bgcolor }} rounded px-1 py-0 text-{{ artifact.rating.textcolor }} popover-button cursor-help hidden md:inline-block" style="white-space: nowrap;" data-popover-target="popover-{{ character.name|lower }}-{{ artifacttype }}">
            {{ artifact.rating.text }}
        </button>
        <div id="popover-{{ character.name|lower }}-{{ artifacttype }}"
            class="POPOVER popover rounded-md shadow-xl text-s text-left p-2 w-32  md:w-48 absolute bottom-7 left-1/2 transform -translate-x-1/2">
            <ul>
                {% for tooltip in artifact.rating.tooltips %}
                {% include "base_tooltip.html" %}
                {% endfor %}
            </ul>
        </div>
        <button class="BADGE bg-{{ artifact.rating.bgcolor }} rounded-full px-3 py-0 text-{{ artifact.rating.textcolor }} popover-button cursor-help inline-block md:hidden" style="white-space: nowrap;" data-popover-target="popover-{{ character.name|lower }}-{{ artifacttype }}">
            &zwnj;
        </button>
        <div id="popover-{{ character.name|lower }}-{{ artifacttype }}"
            class="POPOVER popover rounded-md shadow-xl text-s text-left p-2 w-32 md:w-48 absolute bottom-7 left-1/2 transform -translate-x-1/2">
            <ul>
                {% for tooltip in artifact.rating.tooltips %}
                {% include "base_tooltip.html" %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="text-left overflow-hidden ellipsis" style="white-space: nowrap;">
        <ul>
            <li class="{{ artifact.mainstat.textstyle }}" title="{{ artifact.mainstat.name }}">{{ artifact.mainstat.text }}</li>
            {% for substat in artifact.substats %}
            <li class="{{ substat.textstyle }}" title="{{ substat.name }}">{{ substat.text }}</li>
            {% endfor %}
        </ul>
    </div>
</td>