<tr style="border-top-width: 1px; border-color: rgba(255, 255, 255, 0.5)">
    <th class="p-2 truncate  text-right {% if char1.progress.value < char2.progress.value %}opacity-25{% endif %}">
        {{ char1.name }}
        <div class="w-full rounded-full h-1.5 flex justify-end" style="background-color: rgba(255, 255, 255, 0.5)">
            <div class="bg-{{ char1.progress.color }} h-1.5 rounded-full" style="width: {{ char1.progress.value }}%;"></div>
        </div>
    </th>
    <th class="p-2 truncate {% if char2.progress.value < char1.progress.value %}opacity-25{% endif %}">
        {{ char2.name }}
        <div class="w-full rounded-full h-1.5" style="background-color: rgba(255, 255, 255, 0.5)">
            <div class="bg-{{ char2.progress.color }} h-1.5 rounded-full" style="width: {{ char2.progress.value }}%;"></div>
        </div>
    </th>
</tr>