{% load app_tags %}

<tr style="border-top-width: 1px; border-color: rgba(255, 255, 255, 0.5);">
    <th class="p-2 truncate h-full">
        <div class="flex">
            <div class="h-8 w-8 flex-none overflow-hidden relative mr-3">
                <img src="{{ character.icon }}" class="absolute object-cover bottom-0"/>
            </div>
            <div class="hidden lg:block flex-1 overflow-masked text-ellipsis"> <!-- NOT WORKING -->
                <a href="/char/{{ character.name|lower|strreplace:" |_" }}" class="underline underline-offset-2">{{ character.name }}</a>
                <div class="w-full rounded-full h-1.5" style="background-color: rgba(255, 255, 255, 0.5)"  title="{{ character.progress.truevalue }}%">
                    <div class="bg-{{ character.progress.color }} h-1.5 rounded-full" style="width: {{ character.progress.value }}%;"></div>
                </div>
            </div>
        </div>
    </th>
    <td class="p-2 text-center" style="vertical-align: center;">
        <div>
            {{ character.stat_hp }}
        </div>
    </td>
    <td class="p-2 text-center" style="vertical-align: center;">
        <div>
            {{ character.stat_atk }}
        </div>
    </td>
    <td class="p-2 text-center" style="vertical-align: center;">
        <div>
            {{ character.stat_def }}
        </div>
    </td>
    <td class="p-2 text-center" style="vertical-align: center;">
        <div>
            {{ character.stat_er|percentage }}
        </div>
    </td>
    <td class="p-2 text-center" style="vertical-align: center;">
        <div>
            {{ character.stat_em }}
        </div>
    </td>
    <td class="p-2 text-center" style="vertical-align: center;">
        <div>
            {{ character.stat_cr|percentage }}
        </div>
    </td>
    <td class="p-2 text-center" style="vertical-align: center;">
        <div>
            {{ character.stat_cd|percentage }}
        </div>
    </td>
</tr>