{% load app_tags %}

<tr style="border-top-width: 1px; border-color: rgba(255, 255, 255, 0.5)" id='{{ character.name|lower|strreplace:" |_" }}_simple' onclick="toggleRows('{{ character.name|lower|strreplace:" |_" }}')" class="hover:bg-white hover:bg-opacity-20 cursor-pointer">
    <th class="p-2 truncate h-full">
        <div class="flex">
            <div class="h-8 w-8 flex-none overflow-hidden relative mr-3">
                <img src="{{ character.icon }}" class="absolute h-12 w-12 absolute object-cover bottom-0"/>
            </div>
            <div class="hidden lg:block flex-1 overflow-masked text-ellipsis"> <!-- NOT WORKING -->
                <!--
                <a href="/char/{{ character.name|lower|strreplace:" |_" }}/">
                    {{ character.name }}
                </a>
                -->
                {{ character.name }}
                <div class="w-full rounded-full h-1.5" style="background-color: rgba(255, 255, 255, 0.5)">
                    <div class="bg-{{ character.progress.color }} h-1.5 rounded-full" style="width: {{ character.progress.value }}%;"></div>
                </div>
            </div>
        </div>
    </th>
    {% for artifacttype, artifact in character.artifacts.items %}
    {% include "base_cell_simple.html" %}
    {% endfor %}
</tr>