{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Court of Fontaine</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre">
    <!-- Too few contrast between light and bold -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Pro">
    <!-- Too bold -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Grenze+Gotisch">
    <!-- Nice but too complex capital letters -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Texturina">
    <!-- Very nice but not centered vertically -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Labrada">
    <!-- Not centered too -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'scripts.js' %}"></script>
    <style>
        body {
            font-family: "Montserrat", serif;
        }

        .popover {
            display: none;
            background-color: rgba(255, 255, 255, 1.0);
            z-index: 1;
        }

        .POPOVER {
            display: none;
        }

        .BADGE:hover + .POPOVER {
          display: block;
          color: red;
        }
    </style>
</head>

<body style="background-image: url({% static 'background.jpg' %}); background-size:cover; background-position:center; background-attachment: fixed;">
<main>
    <div class="flex justify-center" style="background-color: rgba(255, 255, 255, 0.0);  height: 100vh;">
        <div class="p-0 w-full md:p-20 lg:w-3/4">
            <div class="bg-white p-10 md:rounded-md border border-1 shadow-xl"
                 style="backdrop-filter: blur(20px); -webkit-backdrop-filter: blur(20px); background-color: rgba(255, 255, 255, 0.1); border-color: rgba(255, 255, 255, 0.5);">
                <div class="grid grid-cols-1 lg:grid-cols-2">
                    <div class="text-white">
                        <h1 class="text-6xl" style="font-family: 'Grenze Gotisch';"><a href="/">Court
                            of<br>Fontaine</a></h1>
                        <p class="text-s">Let yourself be judged!</p>
                    </div>
                    <div class="flex flex-col relative justify-between">
                        <div class="text-right text-white">
                            <a class="underline underline-offset-4" href="/how/">How does it work?</a>
                        </div>
                        <form class="flex" action="javascript:;" onsubmit="search()">
                            <input class="shadow-xl rounded-l-md focus:rounded-none focus:rounded-tl-md w-3/4 p-2 text-gray-700 text-s border border-1"
                                   id="uid" type="text" style="border-color: rgba(255, 255, 255, 0.8);"
                                   placeholder="Enter UID...">
                            <button class="bg-green-500 rounded-r-md p-2 text-s w-1/4 shadow-xl border border-1"
                                    type="submit" onClick="search()"
                                    style="background-color: rgba(255, 255, 255, 0.5); border-color: rgba(255, 255, 255, 0.8);">
                                Search
                            </button>
                        </form>
                        <div class="absolute bg-white top-full w-3/4 z-10 shadow-xl" style="display: none;"
                             id="searchbar_history_display">
                            <!-- Searchbar history comes here -->
                        </div>
                    </div>
                </div>
                <hr class="my-5 opacity-50">
                <div>
                    {% block content %}
                        <div class="text-white">
                            Nothing to see here...
                        </div>
                    {% endblock %}
                </div>
            </div>
            <!--
            <div class="text-right text-white mt-2">Art by <a class="underline underline-offset-4" href=https://www.pixiv.net/en/users/21454383>Minty0</a></div>
            -->
            <div class="text-center text-white my-5 pb-5">
                Website by <a class="underline underline-offset-4" href="https://github.com/SoleilVermeil/">SoleilVermeil</a>.
                No affiliation with HoYoverse.
            </div>
        </div>
    </div>
</main>
<script>
</script>
</body>

</html>