{% extends "base_page_simpletext.html" %}

{% block subcontent %}
<div class="text-white text-right -mt-5">
    <a class="underline underline-offset-4" href="../">&larr; Go to artifact view</a>
</div>
    <table class="table-fixed w-full text-s text-left outline outline-1 shadow-xl rounded-t-md mt-5" style="outline-color: rgba(255, 255, 255, 0.8);">
        <thead class="rounded-md">
            <tr style="background-color: rgba(255, 255, 255, 0.8); ">
                <th class="p-2 truncate text-center rounded-tl-md w-16 lg:w-auto"></th>
                <th class="p-2 truncate text-center">HP</th>
                <th class="p-2 truncate text-center">ATK</th>
                <th class="p-2 truncate text-center">DEF</th>
                <th class="p-2 truncate text-center">ER</th>
                <th class="p-2 truncate text-center">EM</th>
                <th class="p-2 truncate text-center">CD</th>
                <th class="p-2 truncate text-center rounded-tr-md">CR</th>
            </tr>
        </thead>
        <tbody class="bg-white" style="background-color: rgba(255, 255, 255, 0.3);">
            {% for character in characters %}
            {% include "base_row_stats.html" %}
            {% endfor %}
        </tbody>
    </table>

    <div class="text-white flex-auto mt-5">
        <a class="underline underline-offset-4" href="https://enka.network/u/{{ body }}/" target="_blank">Open in Enka.Network</a>
        &middot;
        <a class="underline underline-offset-4" href="https://akasha.cv/profile/{{ body }}/" target="_blank">Open in Akasha</a>
        &middot;
        <a class="underline underline-offset-4" href="#">Open in Eikonomiya</a>
    </div>
{% endblock %}