{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Court of Fontaine</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre">
    <!-- Too few contrast between light and bold -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Pro">
    <!-- Too bold -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Grenze+Gotisch">
    <!-- Nice but too complex capital letters -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Texturina">
    <!-- Very nice but not centered vertically -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Labrada">
    <!-- Not centered too -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            const clickable_tooltips = false
            const max_elements_to_display = 5
            // ------------------
            // Popovers show/hide
            // ------------------
            if (clickable_tooltips) {
                const buttons = document.querySelectorAll('.popover-button');

                function hide_all_popovers() {
                    document.querySelectorAll('.popover').forEach(function (popover) {
                        popover.style.display = 'none';
                    });
                }

                buttons.forEach(function (button) {
                    button.addEventListener('click', function (event) {
                        event.stopPropagation();
                        let targetId = this.getAttribute('data-popover-target');
                        let popover = document.getElementById(targetId);
                        // Check if the popover is already visible
                        if (popover.style.display === 'block') {
                            popover.style.display = 'none';
                            return;
                        }
                        hide_all_popovers();
                        popover.style.display = popover.style.display === 'block' ? 'none' : 'block';
                    });
                });
                document.addEventListener('click', function () {
                    hide_all_popovers();
                });
            }
            // -------------------------
            // Searchbar history display
            // -------------------------
            const searchbar = document.getElementById("uid");

            searchbar.addEventListener("keyup", function (event) {
                let searchbar_content = searchbar.value;
                console.log("Searchbar content: " + searchbar_content)
                generateTable(stringList, searchbar_content)
            });

            const searchbar_history_display = document.getElementById("searchbar_history_display");
            searchbar.addEventListener("focus", function () {
                searchbar_history_display.style.display = "block";
            });
            searchbar.addEventListener("blur", function () {
                if (searchbar_history_display.querySelector(":hover") == null) {
                    searchbar_history_display.style.display = 'none';
                }
            });
            // ------------------------
            // Search history load/save
            // ------------------------
            function load_search_history() {
                let history = JSON.parse(localStorage.getItem('search_history')) || []
                history.reverse()
                return history
            }
            // --------------
            // Generate table
            // --------------
            function generateTable(stringList, must_contain = "") {
                // Create a table element
                let table = document.createElement('table');
                table.className = 'table-fixed w-full border border-1';
                table.style.borderColor = 'rgba(255, 255, 255, 0.8)';
                // Iterate over the stringList and create a row for each string
                rows = 0
                for (let i = 0; i < stringList.length && i < max_elements_to_display; i++) {
                    console.log("Checking " + stringList[i])
                    if (must_contain !== "" && !stringList[i].includes(must_contain)) {
                        console.log("Skipping " + stringList[i])
                        continue
                    }
                    console.log("Adding " + stringList[i])
                    let row = table.insertRow(rows);
                    row.className = 'hover:bg-gray-200';
                    let cell = row.insertCell(0);
                    let link = document.createElement('a');
                    link.setAttribute('onclick', `hide_searchbar_history('${stringList[i]}')`);
                    let paragraph = document.createElement('p');
                    paragraph.className = 'p-2 cursor-pointer';
                    paragraph.style.display = 'block';
                    paragraph.textContent = stringList[i];
                    link.appendChild(paragraph);
                    cell.appendChild(link);
                    let deletebuttonparagraph = document.createElement('p');
                    deletebuttonparagraph.className = 'p-2 cursor-pointer';
                    deletebuttonparagraph.style.display = 'block';
                    deletebuttonparagraph.textContent = 'X';
                    deletebuttonparagraph.setAttribute('onclick', `delete_from_search_history('${stringList[i]}')`);
                    // TODO: implement this
                    // cell.appendChild(deletebuttonparagraph);



                    rows++;
                }
                // Append the table to the body or any other container element
                let tableContainer = document.getElementById('searchbar_history_display');
                tableContainer.innerHTML = '';
                tableContainer.appendChild(table);
            }
            const stringList = load_search_history();
            generateTable(stringList);
        });
        // ------------------------
        // Functions called by HTML
        // ------------------------
        function search() {
            function unique(value, index, array) {
                return array.indexOf(value) === index;
            }
            function save_to_search_history(query) {
                console.log("Saving " + query + " to search history.")
                let search_history = JSON.parse(localStorage.getItem('search_history')) || [];
                if (search_history.includes(query)) {
                    let index = search_history.indexOf(query)
                    search_history.splice(index, 1)
                }
                search_history.push(query); // add the new query to the beginning of the array
                // search_history = search_history.filter(unique)
                localStorage.setItem('search_history', JSON.stringify(search_history));
            }
            const query = document.getElementById("uid").value
            if (query !== "") {
                save_to_search_history(query);
                const uid = document.getElementById("uid").value;
                window.location.href = "/uid/" + uid;
            }
        }

        function hide_searchbar_history(uid) {
            console.log("Clicked on " + uid)
            const searchbar_history_display = document.getElementById("searchbar_history_display");
            searchbar_history_display.style.display = 'none';
            const searchbar = document.getElementById("uid");
            searchbar.value = uid;
            search()
        }

        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("mytable");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc"; 
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
              // Start by saying: no switching is done:
              switching = false;
              rows = table.rows;
              /* Loop through all table rows (except the
              first, which contains table headers): */
              for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                  if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    // If so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                  }
                } else if (dir == "desc") {
                  if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    // If so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                  }
                }
              }
              if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount ++; 
              } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                  dir = "desc";
                  switching = true;
                }
              }
            }
          }
          
    </script>
    <style>
        body {
            font-family: "Montserrat", serif;
        }

        .popover {
            display: none;
            background-color: rgba(255, 255, 255, 1.0);
            z-index: 1;
        }

        .POPOVER {
            display: none;
        }

        .BADGE:hover + .POPOVER {
          display: block;
          color: red;
        }
    </style>
</head>

<body style="background-image: url({% static 'background.jpg' %}); background-size:cover; background-position:center; background-attachment: fixed;">
<main>
    <div class="flex justify-center" style="background-color: rgba(255, 255, 255, 0.0);  height: 100vh;">
        <div class="p-0 w-full md:p-20 lg:w-3/4">
            <div class="bg-white p-10 md:rounded-md border border-1 shadow-xl"
                 style="backdrop-filter: blur(20px); -webkit-backdrop-filter: blur(20px); background-color: rgba(255, 255, 255, 0.1); border-color: rgba(255, 255, 255, 0.5);">
                <div class="grid grid-cols-1 lg:grid-cols-2">
                    <div class="text-white">
                        <h1 class="text-6xl" style="font-family: 'Grenze Gotisch';"><a href="/">Court
                            of<br>Fontaine</a></h1>
                        <p class="text-s">Let yourself be judged!</p>
                    </div>
                    <div class="flex flex-col relative justify-between">
                        <div class="text-right text-white">
                            <a class="underline underline-offset-4" href="/how/">How does it work?</a>
                        </div>
                        <form class="flex" action="javascript:;" onsubmit="search()">
                            <input class="shadow-xl rounded-l-md focus:rounded-none focus:rounded-tl-md w-3/4 p-2 text-gray-700 text-s border border-1"
                                   id="uid" type="text" style="border-color: rgba(255, 255, 255, 0.8);"
                                   placeholder="Enter UID...">
                            <button class="bg-green-500 rounded-r-md p-2 text-s w-1/4 shadow-xl border border-1"
                                    type="submit" onClick="search()"
                                    style="background-color: rgba(255, 255, 255, 0.5); border-color: rgba(255, 255, 255, 0.8);">
                                Search
                            </button>
                        </form>
                        <div class="absolute bg-white top-full w-3/4 z-10 shadow-xl" style="display: none;"
                             id="searchbar_history_display">
                            <!-- Searchbar history comes here -->
                        </div>
                    </div>
                </div>
                <hr class="my-5 opacity-50">
                <div>
                    {% block content %}
                        <div class="text-white">
                            Nothing to see here...
                        </div>
                    {% endblock %}
                </div>
            </div>
            <!--
            <div class="text-right text-white mt-2">Art by <a class="underline underline-offset-4" href=https://www.pixiv.net/en/users/21454383>Minty0</a></div>
            -->
            <div class="text-center text-white my-5 pb-5">
                Website by <a class="underline underline-offset-4" href="https://github.com/SoleilVermeil/">SoleilVermeil</a>.
                No affiliation with HoYoverse.
            </div>
        </div>
    </div>
</main>
<script>
</script>
</body>

</html>