{% extends "base_page.html" %}

{% block content %}
    {% if image %}
    <img src="{{ image }}">
    {% endif %}
    <div class="text-white flex-auto mb-5">
        <div class="font-bold text-3xl">{{ title }}</div>
        <div>{{ body }}</div>
    </div>
    <table class="table-fixed w-full text-s text-left outline outline-1 shadow-xl rounded-t-md" style="outline-color: rgba(255, 255, 255, 0.8);">
        <thead class="rounded-md">
            <tr style="background-color: rgba(255, 255, 255, 0.8); ">
                <th class="p-2 truncate text-center rounded-tl-md">
                </th>
                <th class="p-2 truncate text-center rounded-tl-md">
                    ATK%
                </th>
                <th class="p-2 truncate text-center rounded-tl-md">
                    DEF%
                </th>
                <th class="p-2 truncate text-center rounded-tl-md">
                    HP%
                </th>
                <th class="p-2 truncate text-center rounded-tl-md">
                    Energy Recharge
                </th>
                <th class="p-2 truncate text-center rounded-tl-md">
                    Elemental Mastery
                </th>
                <th class="p-2 truncate text-center rounded-tl-md">
                    Crit DMG
                </th>
                <th class="p-2 truncate text-center rounded-tl-md">
                    Crit RATE
                </th>
            </tr>
        </thead>
        <tbody class="bg-white" style="background-color: rgba(255, 255, 255, 0.3);">
            {% for player in players %}
            {% include "base_row_leaderboard.html" %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}