<tr style="border-top-width: 1px; border-color: rgba(255, 255, 255, 0.5)">
    <th class="p-2 truncate">
        <!-- TODO: replace spaces with underscores -->
        <a href="/char/{{ character.name|lower }}/">
            {{ character.name }}
        </a>
        <div class="w-full rounded-full h-1.5" style="background-color: rgba(255, 255, 255, 0.5)">
            <div class="bg-{{ character.progress.color }} h-1.5 rounded-full" style="width: {{ character.progress.value }}%;"></div>
        </div>
    </th>
    {% for artifacttype, artifact in character.artifacts.items %}
    {% include "base_cell.html" %}
    {% endfor %}
</tr>